---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<nav class="bg-indigo-600 border-gray-200 dark:bg-gray-900">
		<div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
			<a href="/" class="flex items-center">
				<span class="self-center text-xl font-semibold whitespace-nowrap text-white">Event-App</span>
			</a>
			<div class="flex md:order-2">
				<button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false" class="md:hidden text-gray-500 bg-white dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1" >
				  <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
				  <span class="sr-only">Search</span>
				</button>
				<div class="hidden relative md:block ">
				  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
					<svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
					<span class="sr-only">Search icon</span>
				  </div>
				  <input type="text" id="search-navbar" class="block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
				</div>
			  </div>
		</div>
	</nav>
	<nav class="bg-gray-50 dark:bg-gray-700">
		<div class="py-3 px-4 mx-auto max-w-screen-xl md:px-6">
			<div class="flex items-center">
				<ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
					<li>
						<a href="/" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
					</li>
					<li>
						<a href="/liveCoding" class="text-gray-900 dark:text-white hover:underline">Live Coding</a>
					</li>
					<li>
						<a href="/techHangout" class="text-gray-900 dark:text-white hover:underline">Tech Hangout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
		<slot />
	</body>
</html>
